footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #00bcd4;
}